<div class="footer__container">
  <div class="footer__icons">
    <a href="/" target="_blank" aria_label="Facebook link">
      <i class="fa-brands fa-square-facebook gradient-hover"></i>
    </a>
    <a href="/" target="_blank" aria_label="Instagram link">
      <i class="fa-brands fa-instagram gradient-hover"></i>
    </a>
    <a href="/" target="_blank" aria_label="Twitter link">
      <i class="fa-brands fa-square-x-twitter gradient-hover"></i>
    </a>
    <a href="/" target="_blank" aria_label="Linkedin link">
      <i class="fa-brands fa-linkedin gradient-hover"></i>
    </a>
  </div>
  <p>Copyright ©2025 All rights reserved</p>
</div>
